<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <label>Datos de la cuenta</label>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <label>Nombre</label>
          </div>
          <div class="col-sm-4">
            <label>Apellido</label>
          </div>
          <div class="col-sm-4">
            <label>Correo</label>
          </div>
        </div>
        <label>DireccionDireccionDireccionDireccionDireccionDireccion</label>
      </div>
      <div class="col-sm-4">
        <button mat-raised-button color="primary" style="text-align: center">Completar la orden</button>
      </div>
    </div>
    <br>
    <label>Datos de facturación</label>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <label>Nombre</label>
          </div>
          <div class="col-sm-4">
            <label>Apellido</label>
          </div>
          <div class="col-sm-4">
            <label>Correo</label>
          </div>
        </div>
        <label>DireccionDireccionDireccionDireccionDireccionDireccion</label>
      </div>
      <div class="col-sm-4">
        <button mat-raised-button color="primary" style="text-align: center">Editar datos de facturación</button>
      </div>
    </div>
    <br>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-sm-3" >
          <img src="https://media.metrolatam.com/2017/08/09/fechacaducidadmedicamentos-1200x600.jpg" alt="medicamentos" style="width: 100%; max-width: 350px">
        </div>
        <div class="col-sm-7">
          ,dfdlkfldkflk
        </div>
        <div class="col-sm-2">
          <button mat-raised-button color="primary" style="text-align: center">Eliminar</button>
        </div>
      </div>
    </mat-card>
    <br>
    <label>Total: XXXX</label>
  </div>
  <div class="col-sm-1"></div>
</div>
