<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h2>Modelo Paciente nombre</h2>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-sm-3" >
          <img src="https://media.metrolatam.com/2017/08/09/fechacaducidadmedicamentos-1200x600.jpg" alt="medicamentos" style="width: 100%; max-width: 350px">
        </div>
        <div class="col-sm-9">
          ,dfdlkfldkflk
        </div>
      </div>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" style="text-align: center">Añadir al carrito</button>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>

