 <div class="row">
   <div class="col-sm-2"></div>
   <div class="col-sm-8">
     <mat-card style="color: darkgray">
     <div>
       <!-- <label for="search">Search</label> -->
       <button mat-icon-button>
         <mat-icon>search</mat-icon>
       </button>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Busque por paciente o medicamento" value="">
       </mat-form-field>
     </div>
     </mat-card>
   </div>
   <div class="col-sm-2"></div>
 </div>




