<app-barra-superior></app-barra-superior>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h3>Paciente: {{pacienteSeleccionado?.nombres}} {{pacienteSeleccionado?.apellidos}}</h3>
    <br>
    <h5>Fecha de Nacimiento: {{pacienteSeleccionado?.fechaNacimiento}}</h5>
    <h5>Hijos: {{pacienteSeleccionado?.hijos}}</h5>
    <h5>Tiene Seguro: {{pacienteSeleccionado?.tieneSeguro}}</h5>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <img src="{{pacienteSeleccionado?.urlImg}}" alt="Paciente" style="width: 100%; max-width: 400px">
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3>Medicamentos</h3>
    <br>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row">
      <div *ngFor="let medicamento of medicamentosLista.slice(0,limiteMostrar)" class="col-sm-3">
        <mat-card class="medicamento">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-6">
                <img mat-card-image src="{{medicamento.urlImg}}" alt="Photo of a Shiba Inu">
                <br>
                <button mat-stroked-button (click)="irModeloMedicamento(medicamento.pacienteIdFK, medicamento.id)">Seleccionar</button>
              </div>
              <div class="col-sm-6">
                <label>{{medicamento.nombre}}</label>
                <br>
                <label>{{medicamento.composicion}}</label>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" style="width: 100%;" (click)="cargarMas()">Cargar más</button>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
