<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h3>Paciente: {{pacienteSeleccionado.nombres}} {{pacienteSeleccionado.apellidos}}</h3>
    <br>
    <h5>Fecha de Nacimiento: {{pacienteSeleccionado.fechaNacimiento}}</h5>
    <h5>Hijos: {{pacienteSeleccionado.hijos}}</h5>
    <h5>Tiene Seguro: {{pacienteSeleccionado.tieneSeguro}}</h5>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <img src="https://dnb2eg0emsxdz.cloudfront.net/cdn/13/images/curso-online-movilizacion-paciente_l_primaria_1.jpg" alt="Paciente" style="width: 100%; max-width: 400px">
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3>Medicamentos</h3>
    <br>
  </div>
  <div class="col-sm-1"></div>
</div>
<app-medicamentos-cards [medicamentosLista]="pacienteSeleccionado.medicamentos"></app-medicamentos-cards>
