<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="row">
      <div *ngFor="let paciente of pacientes.slice(0,limiteMostrar)" class="col-sm-4">
        <mat-card class="pacienteg">
          <label>{{paciente.nombres}}</label>
          <div class="row">
            <div class="col-sm-6">
              <label>{{paciente.apellidos}}</label>
              <button mat-stroked-button (click)="irAModeloPaciente(paciente.id)">Seleccionar</button>
            </div>
            <div class="col-sm-6">
              <img src="https://media.aweita.larepublica.pe/678x508/aweita/imagen/2018/02/08/noticia-persona-positiva.png" alt="" style="width: 100%; max-width: 350px">
            </div>
          </div>
        </mat-card>
        <br>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" style="width: 100%" (click)="cargarMas()">Cargar más</button>
  </div>
  <div class="col-sm-1"></div>
</div>




