<div>
  <app-barra-busqueda></app-barra-busqueda>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3>Resultado Pacientes</h3>
    <br>
  </div>
  <div class="col-sm-1"></div>
</div>
<app-paciente-card></app-paciente-card>
<br>
<br>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h3>Resultado Medicamentos</h3>
    <br>
  </div>
  <div class="col-sm-1"></div>
</div>


<app-medicamentos-cards></app-medicamentos-cards>
